{% extends "campaign/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Add link to {{ thing.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <form action="{% url 'campaign:add_link' thing.name %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row form-group">
                        <div class="col-sm-2">
                            {{ field.label_tag }}
                        </div>
                        <div class="col-sm-2">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-sm-2 offset-sm-6">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}