{% load static %}
<html lang="en">
    <head>
        <meta content="charset=utf-8" />
        <title>{% block title %}Campaign{% endblock%}</title>
        <meta name="description" content="Organize your campaign.">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'campaign/style.css' %}" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url 'campaign:list_everything' %}">{{ campaign }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'campaign:list' 'Location' %}">Locations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'campaign:list' 'Faction' %}">Factions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'campaign:list' 'NPC' %}">NPCs</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Create
                            </a>
                            <div class="dropdown-menu" aria-labelledby="manageDropdown">
                                <a class="dropdown-item" href="{% url 'campaign:new_thing' 'Location' %}">New Location</a>
                                <a class="dropdown-item" href="{% url 'campaign:new_thing' 'Faction' %}">New Faction</a>
                                <a class="dropdown-item" href="{% url 'campaign:new_thing' 'NPC' %}">New NPC</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="campaignDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Campaign
                            </a>
                            <div class="dropdown-menu" aria-labelledby="campaignDropdown">
                                {% for campaign in campaigns %}
                                    <a class="dropdown-item" href="{% url 'campaign:change_campaign' campaign %}">{{ campaign }}</a>
                                {% endfor %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'campaign:import' %}">Import Campaign</a>
                                <a class="dropdown-item" href="{% url 'campaign:export' %}">Export Campaign</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Settings
                            </a>
                            <div class="dropdown-menu" aria-labelledby="settingsDropdown">
                                <a class="dropdown-item" href="{% url 'campaign:manage_randomizer_options' 'Faction' 'name' %}">Faction Names</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'campaign:manage_randomizer_options' 'Location' 'name' %}">Location Names</a>
                                <a class="dropdown-item" href="{% url 'campaign:manage_randomizer_options' 'Location' 'description' %}">Location Descriptions</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'campaign:manage_randomizer_options' 'NPC' 'name' %}">NPC Names</a>
                                <a class="dropdown-item" href="{% url 'campaign:manage_randomizer_options' 'NPC' 'occupation' %}">NPC Occupations</a>
                                <a class="dropdown-item" href="{% url 'campaign:manage_randomizer_options' 'NPC' 'description' %}">NPC Descriptions</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'campaign:import_settings' %}">Import Settings</a>
                                <a class="dropdown-item" href="{% url 'campaign:export_settings' %}">Export Settings</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'campaign:search' %}" method="post">
                        {% csrf_token %}
                        {% for field in search_form %}
                            {{ field }}
                        {% endfor %}
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        {% block content %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
        <script src="{% static 'campaign/scripts.js' %}"></script>
        {% block js_code %}{% endblock %}
    </body>
</html>