{% load static %}
<html lang="en">
    <head>
        <meta content="charset=utf-8" />
        <title>{% block title %}Campaign{% endblock%}</title>
        <meta name="description" content="Organize your campaign.">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'campaign/style.css' %}" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <!--a class="navbar-brand" href="{% url 'campaign:list_everything' %}">{{ campaign }}</a-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle navbar-brand" href="#" id="bookmarkDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ campaign }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="bookmarkDropdown">
                                {% for thing_type in bookmarks %}
                                    <h6 class="dropdown-header">{{ thing_type.name }}s</h6>
                                    {% for thing in thing_type.things %}
                                        <a class="dropdown-item" href="{% url 'campaign:detail' thing %}">{{ thing }}</a>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </li>
                        {% for thing_type in thing_types %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="{{ thing_type }}Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ thing_type }}s
                                </a>
                                <div class="dropdown-menu" aria-labelledby="{{ thing_type }}Dropdown">
                                    <a class="dropdown-item" href="{% url 'campaign:list' thing_type %}">All {{ thing_type }}s</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'campaign:new_thing' thing_type %}">New {{ thing_type }}</a>
                                    <a class="dropdown-item" href="{% url 'campaign:select_generator' thing_type %}">Random {{ thing_type }}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'campaign:new_generator' thing_type %}">New {{ thing_type }} generator</a>
                                    <a class="dropdown-item" href="{% url 'campaign:manage_generators' thing_type %}">Manage {{ thing_type }} generators</a>
                                </div>
                            </li>
                        {% endfor %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="campaignDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Campaign
                            </a>
                            <div class="dropdown-menu" aria-labelledby="campaignDropdown">
                                {% for campaign in campaigns %}
                                    <a class="dropdown-item" href="{% url 'campaign:change_campaign' campaign %}">{{ campaign }}</a>
                                {% endfor %}
                                <div class="dropdown-divider"></div>
                                {% for attribute_preset in attribute_presets %}
                                    <a class="dropdown-item" href="{% url 'campaign:select_preset' attribute_preset %}">Manage {{ attribute_preset }} presets</a>
                                {% endfor %}
                                <a class="dropdown-item" href="{% url 'campaign:add_preset' %}">Add preset</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'campaign:import' %}">Import Campaign</a>
                                <a class="dropdown-item" href="{% url 'campaign:export' %}">Export Campaign</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Settings
                            </a>
                            <div class="dropdown-menu" aria-labelledby="settingsDropdown">
                                {% for thing_type in attribute_settings %}
                                    <h6 class="dropdown-header">{{ thing_type.name }}s</h6>
                                    {% for attribute in thing_type.attributes %}
                                        <a class="dropdown-item" href="{% url 'campaign:manage_randomizer_options' thing_type.name attribute %}">{{ attribute }}s</a>
                                    {% endfor %}
                                    <div class="dropdown-divider"></div>
                                {% endfor %}
                                <a class="dropdown-item" href="{% url 'campaign:import_settings' %}">Import Settings</a>
                                <a class="dropdown-item" href="{% url 'campaign:export_settings' %}">Export Settings</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'campaign:search' %}" method="post">
                        {% csrf_token %}
                        {% for field in search_form %}
                            {{ field }}
                        {% endfor %}
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        {% block content %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
        <script src="{% static 'campaign/scripts.js' %}"></script>
        {% block js_code %}{% endblock %}
    </body>
</html>