{% extends "campaign/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>{{ thing.name }}{% if thing.link %} <a href="{{ thing.link }}" class="badge badge-pill badge-danger" target="_blank">D&D Beyond</a>{% endif %}</h1>
            {% include "campaign/summary_table.html" %}
            <div class="thing-description">
                {{ thing.description }}
            </div>
        </div>
    </div>
    {% if thing.useful_links or thing.random_attributes %}
        <div class="row">
            {% if thing.useful_links %}
                <div class="col-sm-4">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th scope="row">Links</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for link in thing.useful_links %}
                                <tr>
                                    <td>
                                        <a href="{{ link.value }}" target="_blank">{{ link.name }}</a>
                                        <a class="btn btn-danger btn-sm float-right" href="{% url 'campaign:remove_link' thing.name link.name %}" role="button"> - </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if thing.random_attributes %}
                {% for category in thing.random_attributes %}
                    {% if category.attributes %}
                        <div class="col-sm-8">
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th scope="row">
                                            {{ category.category }}s
                                            <a class="btn btn-success btn-sm float-right" href="{% url 'campaign:add_one_random' thing.name category.attribute category.category %}" role="button"> + </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for random_attribute in category.attributes %}
                                        <tr>
                                            <td>
                                                <div class="random_attribute">{{ random_attribute.text }}</div>
                                                <a class="btn btn-danger btn-sm float-right" href="{% url 'campaign:delete_random' thing.name random_attribute.id %}" role="button"> - </a>
                                                <a class="btn btn-secondary btn-sm float-right" href="{% url 'campaign:edit_random' thing.name random_attribute.id %}" role="button">Edit</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    {% if thing.display_encounters %}
        <div class="row">
            {% for encounter_type in thing.encounters %}
                {% if encounter_type.list %}
                    <div class="col-sm-4">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th scope="row">d{{ encounter_type.count }}</th>
                                    <th scope="row">Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for encounter in encounter_type.list %}
                                    <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td class="encounter">
                                            {{ encounter.name }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm text-right">
            <div class="btn-group dropleft">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'campaign:move_thing' thing.name %}">Move</a>
                    <a class="dropdown-item" href="{% url 'campaign:add_link' thing.name %}">Add link</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'campaign:edit_description' thing.name %}">Edit Description</a>
                    {% if thing.editable_attributes %}
                        {% for editable_attribute in thing.editable_attributes %}
                            <a class="dropdown-item" href="{% url 'campaign:set_attribute' thing.name editable_attribute %}">Change {{ editable_attribute }}</a>
                        {% endfor %}
                    {% endif %}
                    {% if thing.enable_random_encounters %}
                        {% for encounter_type in thing.encounters %}
                            <a class="dropdown-item" href="{% url 'campaign:edit_encounters' thing.name encounter_type.encounter_type %}">Edit random {{ encounter_type.encounter_type }} encounters</a>
                        {% endfor %}
                    {% endif %}
                    {% if thing.randomizable_attributes %}
                        <div class="dropdown-divider"></div>
                        {% for randomizer in thing.randomizable_attributes %}
                            <a class="dropdown-item" href="{% url 'campaign:add_random' thing.name randomizer.attribute randomizer.category %}">Generate {{ randomizer.category }}s</a>
                        {% endfor %}
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'campaign:delete_thing' thing.name %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% if parent_factions %}
        <div class="row">
            <div class="col-sm">
                <h4>Member of</h4>
                <div class="list-group">
                    {% for thing in parent_factions %}
                        {% include "campaign/thing_block.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if child_locations %}
        <div class="row">
            <div class="col-sm">
                <h4>Points of interest</h4>
                <div class="list-group">
                    {% for thing in child_locations %}
                        {% include "campaign/thing_block.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if child_factions %}
        <div class="row">
            <div class="col-sm">
                <h4>Factions</h4>
                <div class="list-group">
                    {% for thing in child_factions %}
                        {% include "campaign/thing_block.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if child_npcs %}
        <div class="row">
            <div class="col-sm">
                <h4>Notable People</h4>
                <div class="list-group">
                    {% for thing in child_npcs %}
                        {% include "campaign/thing_block.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block js_code %}
<script>
    addLinksToDescriptions("{{ thing_link_marker }}", "{{ thing_url }}", "{{ beyond_link_marker }}", "{{ beyond_url }}");
</script>
{% endblock %}
