{% extends "campaign/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>{{ name }}</h1>
            <p>{{ desc }}</p>
        </div>
    </div>
    {% if parents %}
        <div class="row">
            <div class="col-sm">
                <h4>Part of</h4>
                <div class="list-group">
                    {% for parent in parents %}
                        <a href="{% url 'campaign:detail' parent %}" class="list-group-item list-group-item-action">{{ parent }}</a></>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if children %}
        <div class="row">
            <div class="col-sm">
                <h4>Points of interest</h4>
                <div class="list-group">
                    {% for child in children %}
                        <a href="{% url 'campaign:detail' child %}" class="list-group-item list-group-item-action">{{ child }}</a></li>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}