{% extends "campaign/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="btn-toolbar" role="toolbar" aria-label="Filters">
                {% for filter in filters %}
                    <div class="btn-group mr-2" role="group" aria-label="{{ filter.name }}">
                        <div class="btn-group" role="group">
                            <button id="filter-{{ filter.name }}" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ filter.name }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="filter-{{ filter.name }}">
                                {% for value in filter.values %}
                                    <a id="{{ value.class }}" class="dropdown-item thing-filter" href="#">{{ value.value }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <button id="match-button" type="button" class="btn btn-secondary match-by-or">Match all</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            {% for type in types %}
                <h1>{{ type.name }}</h1>
                {% for thing in type.things %}
                    {% include "campaign/thing_block.html" %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block js_code %}
<script>
    addLinksToDescriptions("{{ link_marker }}");
</script>
{% endblock %}