{% extends "campaign/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm text-center">
            <h1>New {{ thing_type }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form action="{% url 'campaign:new_thing' thing_type %}" method="post">
                {% csrf_token %}
                {% for field in thing_form %}
                    <div class="row form-group">
                        <div class="col-sm-2">
                            {{ field.label_tag }}
                        </div>
                        <div class="col-sm-2">
                            {{ field }}
                            <p>{{ field.errors }}</p>
                        </div>
                        {% if field.name in allow_random_by_category %}
                            <div class="col-sm-2 offset-sm-4">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Randomize
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% for field_randomizer in randomizer_categories %}
                                            {% if field_randomizer.field_name == field.name %}
                                                {% for category in field_randomizer.categories %}
                                                    <a id="{{ field.name }}_{{ category }}" class="dropdown-item category_randomizer" href="#">{{ category }}</a>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% elif field.name in allow_random %}
                            <div class="col-sm-2 offset-sm-4">
                                <button id="{{ field.name }}" type="button" class="btn btn-secondary randomizer">Randomize</button>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-sm-2 offset-sm-8">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js_code %}
<script>
    $(".randomizer").click(function(event) {
        event.preventDefault();
        var field_name = $(this).attr("id");
        getRandomAttribute(field_name, "/campaign/random/{{ thing_type }}/" + field_name, function(data) {
            $("#id_" + field_name).val(data.name);
        });
    });
    $(".category_randomizer").click(function(event) {
        event.preventDefault();
        var values = $(this).attr("id").split("_")
        var field_name = values[0];
        var category = values[1];
        getRandomAttribute(field_name, "/campaign/random/{{ thing_type }}/" + field_name + "/" + category, function(data) {
            $("#id_" + field_name).val(data.name);
        });
    });
</script>
{% endblock %}