{% if thing.attributes %}
<table class="table table-bordered">
    <thead>
        <tr>
            {% for attribute in thing.attributes %}
                <th scope="col" class="text-center">{{ attribute.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for attribute in thing.attributes %}
                <td class="text-center">
                    {% if attribute.can_link %}
                        <a href="{% url 'campaign:detail' attribute.value %}">
                    {% endif %}
                    {{ attribute.value }}
                    {% if attribute.can_link %}
                        </a>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endif %}